.page {
  height: calc(100vh - 50px);
  padding: 15px;
}

div.breadcrumb,
div.filter,
div.paginator {
  height: 30px;
  display: flex;
  align-items: center;
}

div.breadcrumb {
  // margin: 0 0 15px 0;
}

div.paginator {
  height: 40px;
  justify-content: flex-end;
  padding: 0 15px 0 0;
}

div.filter {
  height: 40px;
  margin: 7.5px 0;
  padding: 0 15px 0 0;

  justify-content: space-between;

  ul {
    list-style: none;
    font-size: 0;
  }

  li {
    display: inline-block;

    + li {
      .el-button {
        border-left: 0;
      }
    }
  }

  .el-button {
    border-radius: 0;
  }
}

ul.content {
  width: 100%;
  height: calc(100% - 125px);
  overflow: auto;
  padding: 0 15px 0 0;

  &::-webkit-scrollbar {
    width: 5px;
    background: hsla(0, 0, 100%, .6);
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background:rgba(95, 95, 95, 0.4);
  }

  p {
    text-align: center;
    margin: 50px 0;
    font-size: 24px;
    color: #73879C;
  }
}

.json-editor {
  width: 400px;
  height: 400px;
}
