// color
$primary:#69b241;
$info: #909399;
$success: #67c23a;
$waring: #e6a23c;
$danger: #f56c6c;

// 边距
$padding: 15px;
$margin: 15px;

// 边框
$border: #ccc;

// 字体
$text-size: 14px;
$text-color: #303133;

// 阴影
$shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

// 其他
$bg-header: #515151;

// 菜单项激活样式
$menu-active-color: $primary;
$menu-active-bg: #EAEAEA;